<div class="container">
  <section id="history">
    <div class="page-header">
      <h1>
        The History of ElMedievo
      </h1>
    </div>
    <div class="page-header">
      <h2>Introduction</h2>
    </div>
    <div class="row">
      <div class="col-md-12">
        <p>
          ElMedievo is a Minecraft server created by BGM for his friends at his third high school year,
          a server which ended up spreading to the whole class and school generation back in 2018.
        </p>
        <p>
          The project began as a simple server where things were developed exclusively for the server itself,
          and school mates had a say on what would be added and what mechanics would be followed.
        </p>
        <p>
          As it went on, the server went through different seasons, featuring new players each time it was reopened and
          remembered with joy by everyone who played them to this very day.
        </p>
      </div>
    </div>
    <div class="page-header">
      <h2>Late 2018 - Early 2019</h2>
    </div>
    <div class="row">
      <div class="col-md-12">
        <p>
          Around October of 2018, the first season of ElMedievo took place after its first official release. It was all
          so simple, BGM along with Ferrada, Bernardita, Caprilee, Fabroto and many others began founding what would be
          the beginning of the medieval history.
        </p>
        <p>
          As the first days of the recently opened server went by, a city was built by the players in the middle of a
          desert, which would eventually end up destroyed after an argument between some of the medieval members escalated
          out of control, triggering the first medieval war.
        </p>
        <p>
          Some images of the medieval trial and city after the civil war:
        </p>
        <div class="row">
          <div class="col-md-6">
            <%= image_tag "medieval_trial.jpg", :class => "img-thumbnail" %>
          </div>
          <div class="col-md-6">
            <%= image_tag "medievo_old_city.png", :class => "img-thumbnail" %>
          </div>
        </div>
        <br/>
        <p>
          After the player base was divided into several factions such as Espa単a, Los Budas, La tierra de Burgos, Hijos de la K端daumapun,
          and other smaller clans.
        </p>
        <div class="row">
          <div class="col-md-6">
            <%= image_tag "spain.png", :class => "img-thumbnail" %>
            <%= image_tag "12x2.png", :class => "img-thumbnail" %>
          </div>
          <div class="col-md-6">
            <%= image_tag "ferrada_troll.png", :class => "img-thumbnail" %>
            <%= image_tag "crime.png", :class => "img-thumbnail" %>
          </div>
        </div>
        <hr/>
      </div>
    </div>
    <div class="page-header">
      <h2>Early 2019 - Early 2020</h2>
    </div>
    <div class="row">
      <div class="col-md-12">
        <p>
          A new season took place at the beginning of the year, and new members began
          joining the server, some from the original school, and others from other countries even.
        </p>
        <p>
          Not long had gone by when the medieval community had already split into different groups yet again, some of the
          players were part of the original cast, so it didn't take long for them to re-unite and play under new faction names,
          which is the case for the "Shi Shi Gangs", a small clan from the original medieval season of 2018: "Italia". New
          clans were born, such as "El secreto gay de la monta単a medieval" or "El secreto gei" for short. Espa単a on the other hand,
          maintained a clean and clear name throughout the seasons and has remained the same until this very day.
        </p>
        <div class="row">
          <div class="col-md-6">
            <%= image_tag "rip_colo_colo.png", :class => "img-thumbnail" %>
          </div>
          <div class="col-md-6">
            <%= image_tag "shishi_destroyed.png", :class => "img-thumbnail" %>
          </div>
        </div>
        <br/>
        <p>
          Among many other important events during the second iteration of ElMedievo, the most popular by far among
          the population was "La Boda Medieval", of which there is video record:
        </p>
        <div class="embed-responsive embed-responsive-16by9">
          <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/YUZoWlVNlAA" allowfullscreen></iframe>
        </div>
        <hr/>
      </div>
    </div>
    <div class="page-header">
      <h2>Late 2020 - The Present</h2>
    </div>
    <div class="row">
      <div class="col-md-12">
        <p>
          The history of ElMedievo during the pandemic has basically been a huge hiatus. New people have joined the Discord
          community which has remained quite active and subject to changes during the year, but the Minecraft server itself
          has been closed ever since mid 2019.
        </p>
        <p>
          With the new 2021 season, it will be the first time ElMedievo opens to the public whilst a school year is not in course.
          The community which once were high school mates graduated at the end of 2019, and pretty much everyone is in college now, but they all remember what
          this was and what it means. ElMedievo will always be a part of them.
        </p>
      </div>
    </div>
  </section>
</div>
