<!DOCTYPE html>
<html>
  <head>
    <title>Medievo</title>
    <link rel="shortcut icon" href="https://raw.githubusercontent.com/ElMedievo/Data/master/Website/favicon.ico" />
    <%= csrf_meta_tags %>
    <%= javascript_include_tag "application" %>
    <%= stylesheet_link_tag "https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css", media: "all" %>
    <%= stylesheet_link_tag "application", media: "all" %>
  </head>
  <body>
    <nav class="navbar navbar-expand-md navbar-dark bg-dark">
      <%= link_to "El Medievo", home_path, class: "navbar-brand" %>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarsExampleDefault">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item nav-link">
            <%= link_to "Inicio", home_path %>
        </li>
        <li class="nav-item nav-link">
          <a href="/about" tabindex="-1" aria-disabled="true">¿Quiénes somos?</a>
        </li>
        <li class="nav-item nav-link">
          <a href="/rules" tabindex="-1" aria-disabled="true">Reglas</a>
        </li>
        <li class="nav-item nav-link">
            <%= link_to "Anunciar", new_post_path %>
        </li>
      </ul>
      <ul class="navbar-nav nav-right">
        <li class="nav-item nav-link">
            <a href="https://discord.gg/rY8Eab" title="Discord!" target="_blank">Discord</a>
        </li>
        <li class="nav-item nav-link">
            <a href="https://github.com/ElMedievo" title="Repositorios" target="_blank">Github</a>
        </li>
      </ul>
      </div>
    </nav>
    <br/>
    <h2 align="center">us.elmedievo.org</h2>
    <div class="container">
      <br/>
      <%= yield %>
    </div>
  </body>
  <footer>
      <br/>
      <img id="img_1" title="El mejor server" src="https://raw.githubusercontent.com/ElMedievo/Data/master/Website/images/medieval_players.png"/>
      <br/>
      <hr/>
      <p align="center">© 2019 El Pepo</p>
      <br/>
  </footer>
</html>
